{
  "parser": "babel-eslint",
  "rules": {
    "strict": 1
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },

  "ecmaFeatures": {
    "jsx": true
  },

  "env": {
    "es6": true,
    "jasmine": true,
},

}
